{{template "top" .}}
<title>New pizza order</title>
</head>
<body class= "bg-gradient-to-br from-amber-50 vai-orange-50 to-rose50 min-h-screen">
    <div>
       <p> thes will be the order from page </p>

    </div>
    {{tmplate "bottom" .}}  